@page
@model IndexModel
@{
    ViewData["Title"] = "Crowd Truth";
}

<div class="jumbotron">
    <h1>Welcome to CrowdTruth</h1>
    <p class="lead">CrowdTruth is dedicated to leveraging the knowledge of THE PEOPLE to find the truth at the heart of every piece of news</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>Topics</h3>
            <p>Browse a collection of hot-button issues, controversies, or areas of study that are commonly saturated with biased commentary.</p>
        </div>
        <div class="col-sm-4">
            <h3>Trends</h3>
            <p>See what people are talking </p>
        </div>
        <div class="col-sm-4">
            <h3>Timeline</h3>
            <p>See a issues and controversies on a timeline, with filters and settings available to get to the heart of the things that matter most to you.</p>
        </div>
    </div>
</div>